* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.sidebar {
    width: 60px;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin: 15px 0;
}

.icon0 {
    width: 50px;
    height: 50px;
}

.icon1 {
    width: 55px;
    height: 53px;
}

.icon2 {
    width: 38px;
    height: 44px;
}

.icon3, .icon4 {
    width: 55px;
    height: 53px;
}

.container {
    margin-left: 100px;
    width: 500px;
    background-color: #f7f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.player-form label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.player-form input[type="text"],
.player-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
}

.save-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

.img-label{
    display: inline-block;
    padding: 10px 20px;
    width: 135px;
    background-color: rgb(2, 175, 255);
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.img-label:hover{
    background-color: rgb(20, 121, 168);
}

.input-label{
    display: inline-block;
    padding: 10px 20px;
    width: 180px;
    background-color: gray;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.actualizar{
    padding: 5px 13px;
    border-radius: 8px;
    background-color: black; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.actualizar:hover{
    background-color: rgb(2, 175, 255);
}

.save-button:hover {
    background-color: #555;
}

.circle-wrapper {
    position: fixed;
    left: 30px;
    top: 820px;
}

.circle {
    width: 81px;
    height: 83px;
    background: #53AA51;
    border-radius: 50%;
}
